<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="card w-95">
      <div class="card-block">
        <h3 class="card-title">Productos</h3>
         <button type="button" class="btn btn-primary" on-click="obtenerProductos">Lista</button>
      </div>
    </div>

    <iron-ajax id="obtenerProductos"
      url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
      handle-as="json"
      on-response="mostarProductosLista"></iron-ajax>    

      <table class="table"  hidden$="{{this.muestralista}}" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Unit Price</th>
             <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{productos}}" >
            <tr>
              <th scope="row">{{item.ProductID}}</th>
              <td> {{item.ProductName}}</td>
              <td> {{item.UnitPrice}}</td>
              <td> 
                <a href="/movimientos/[[item.ProductID]]" class="btn btn-primary" >
                  {{item.ProductID}}
                </a>
              </td>              
            </tr>
          </template>
        </tbody>
      </table>  

             

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          productos:{
            type: Array,
          },
          muestralista:{
            type: Boolean,
            boolean: false,
          }
        };
      }
      obtenerProductos(data){
        this.$.obtenerProductos.generateRequest();
      }
      mostarProductosLista(data){
        console.log(data.detail.response.value);
        this.productos = data.detail.response.value;
        this.muestralista=true;
      }
    }

    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
