<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontmx-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <input type="text" value="{{prop1::input}}">
     <input type="text" value="[[prop1::input]]">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontmxApp extends Polymer.Element {
      static get is() { return 'frontmx-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontmx-app'
          }
        };
      }
    }

    window.customElements.define(FrontmxApp.is, FrontmxApp);
  </script>
</dom-module>
