<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-detalle-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <!--
        FILTER:  
         + http://jaydata.org/blog/javascript-language-query-jslq-101
         + http://www.odata.org/blog/consuming-odata-from-javascript/
    -->
    <iron-ajax id="obtenerProducto" auto
      url="http://services.odata.org/V4/Northwind/Northwind.svc/Products?$filter=(ProductID%20eq%20{{id}})"
      handle-as="json"
      on-response="mostarProducto"></iron-ajax>

       <template is="dom-repeat" items="{{productos}}" >
        <div class="card text-center">
          <div class="card-header">
            <h1>{{item.ProductName}}</h1>
          </div>
          <div class="card-block">
            <h4 class="card-title">Producto:{{id}}  </h4>
            <p class="card-text">$ {{item.UnitPrice}}</p>
            <a href="#" class="btn btn-primary">{{item.QuantityPerUnit}}</a>
          </div>
          <div class="card-footer text-muted">
            In Stock: {{item.UnitsInStock}}
          </div>
        </div>    
      </template>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosDetalleApp extends Polymer.Element {
      static get is() { return 'movimientos-detalle-app'; }
      static get properties() {
        return {
          producto:{
            type: Array,
          },
          ocultaProducto:{
            type: Boolean,
            boolean: true,
          }
        };
      }
    
      obtenerProducto(data){
        this.$.obtenerProducto.generateRequest();
      }
      mostarProducto(data){
        console.log(data.detail.response.value);
        this.productos = data.detail.response.value;
        this.mostarProducto=true;
      }
      
    }

    window.customElements.define(MovimientosDetalleApp.is, MovimientosDetalleApp);
  </script>
</dom-module>
