<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
      url="http://127.0.0.1:3000/v2/usuarios/login"
      handle-as="json"
      metod="POST"
      content-type="application/json"
      on-response="mostrarResultLogin"></iron-ajax>

    <div>
      <label for="">[[etuser]]</label>
      <input type="text" value={{valuser::input}}>
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input type="text" name="">
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'loginmx-app'
          },
          etuser:{
            type: String,
          },
          etpassword:{
            type: String,
          },
          etlogin:{
            type: String,
          },
          valuser:{
            type: String,
          }
        };
      }
      hacerLogin(){
        this.$.hacerLogin.generateRequest();
        console.log("Login correcto de " + this.valuser)
      }
      mostrarResultLogin(data){
        console.log(data.detail.response)
      //console.log(data)
      }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
