<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="page-no-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <H1>HTTP 404</H1>
    <H2>Página no encontrada!!</H2>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNoFound extends Polymer.Element {
      static get is() { return 'page-no-found'; }
      static get properties() {
        return {
        };
      }
    }
    window.customElements.define(PageNoFound.is, PageNoFound);
  </script>
</dom-module>
